@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.App {
  position: relative;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: "Dangrek", sans-serif;
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
p,
span,
a,
li,
small,
button,
label ::placeholder,
form,
strong {
  font-family: "Siemreap", sans-serif;
}
.sizegrid {
  width: 40rem;
  height: 13rem;
}
.bg-home {
  background-color: #cb1b84;
}
.navbar {
  height: 70px;
  margin: 0;
}
.nav-shadow {
  filter: drop-shadow(0.1rem 0.5rem 0.8rem rgb(250, 250, 250));
}
.section-one {
  position: relative;
  min-height: 800px;
}
.scroll-btn {
  bottom: 2rem;
  left: 95%;
}
.ios-download {
  height: 37.5rem;
}
.section-two {
  position: relative;
  min-height: 700px;
}
.section-two img {
  width: 95%;
}
.server-slide-info {
  width: 30rem;
}
.server-image-section {
  height: 500px;
}
.top-image-section {
  height: 100px;
}
.section-three {
  position: relative;
  min-height: 1200px;
}
.section-four {
  position: relative;
  min-height: 500px;
}
.section-five {
  position: relative;
  min-height: 400px;
}
.section-six {
  position: relative;
  min-height: 500px;
}
.form-height {
  min-height: 300px;
}
.about {
  min-height: 1000px;
}
.oursupplier {
  min-height: 1000px;
}
.term {
  min-height: 3000px;
}
.PrivacyPolicy {
  min-height: 2000px;
}
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  p,
  li {
    font-size: 11.5pt;
    line-height: 1;
  }
  .scroll-btn {
    bottom: 2rem;
    left: 85%;
  }
}
@media only screen and (max-width: 768px) {
  .sizegrid {
    width: 24rem;
    height: 13rem;
  }
  .server-slide-info {
    width: 15rem;
  }
}

.coolBeans {
  /* border: 2px solid currentColor; */
  background-color: rgb(222, 229, 233);
  border-radius: 3rem;
  color: black;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 100;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.coolBeans::after {
  background-color: #cb1b84;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
}
.coolBeans:hover {
  border: 2px solid transparent;
  color: white;
  transform: scale(1.1);
  will-change: transform;
}
.top-image {
  height: 400px;
  width: 100%;
  padding: 10px;
}
